
    <h2>Your list items are here</h2>

    <form action="/list" method="POST">
    <input type="text" name="name" placeholder="Items">
    <input type="text" name="name" placeholder="price">
    <input type="text" name="name" placeholder="Decription">
    <input type="text" name="name" placeholder="Add comment">
    <Input type="submit" value="cart"></Input>
    </form>

    <ul>
        {{#each items}}
        <li>{{name}}</li>
        <li>{{price}}</li>
        <li>{{Decription}}</li>
        <li>{{Add comment}}</li>
        <li>Your cart is empty</li>
        {{/each}}
    </ul>